# file types.
*.class
*.log
*.rtf
*.rtf.bz2
*.rtf.gz
*.pdf

# data files
input

# maven specific stuff.
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# netbeans specific stuff.
nb-configuration.xml
